<div class="job__wrapper">
  <div class="job" id="job">
    <div class="job__title">Open positions</div>
    <div class="job__subtitle">#lookingforgoodpeople</div>

    <div class="job__content">
      <div class="job__item">
        <div class="job__item-title">Senior Media Buyer</div>
        <div class="job__item-icon">
          <a href="https://t.me/HR_Montekrist"
            ><img src="assets/arrow-right.png"
          /></a>
        </div>
      </div>
      <div class="job__item">
        <div class="job__item-title">Senior ASO Specialist</div>
        <div class="job__item-icon">
          <a href="https://t.me/HR_Montekrist"
            ><img src="assets/arrow-right.png"
          /></a>
        </div>
      </div>
      <div class="job__item">
        <div class="job__item-title">Senior SEO Specialist</div>
        <div class="job__item-icon">
          <a href="https://t.me/HR_Montekrist"
            ><img src="assets/arrow-right.png"
          /></a>
        </div>
      </div>
      <div class="job__item">
        <div class="job__item-title">Senior Web-Master</div>
        <div class="job__item-icon">
          <a href="https://t.me/HR_Montekrist"
            ><img src="assets/arrow-right.png"
          /></a>
        </div>
      </div>
      <div class="job__item">
        <div class="job__item-title">Team Lead (mobile app)</div>
        <div class="job__item-icon">
          <a href="https://t.me/HR_Montekrist"
            ><img src="assets/arrow-right.png"
          /></a>
        </div>
      </div>
      <div class="job__item">
        <div class="job__item-title">Automatization Specialist</div>
        <!-- <div class="job__item-subtitle">digital design</div> -->
        <div class="job__item-icon">
          <a href="https://t.me/HR_Montekrist"
            ><img src="assets/arrow-right.png"
          /></a>
        </div>
      </div>
    </div>
    <div class="job__headhunter">
      <a
        href="https://hh.ru/search/vacancy?from=employerPage&employer_id=5073259&hhtmFrom=employer"
      >
        All jobs <img src="assets/browse.png"
      /></a>
    </div>
  </div>
</div>
