<div class="job__wrapper">
  <div class="job" id="job">
    <div class="job__title">Open positions</div>
    <div class="job__subtitle">#lookingforgoodpeople</div>

    <div class="job__content">
      <div class="job__item">
        <div class="job__item-title">Art director</div>
        <div class="job__item-subtitle">digital design</div>
        <div class="job__item-icon"><img src="assets/arrow-right.png" /></div>
      </div>
      <div class="job__item">
        <div class="job__item-title">Art director</div>
        <div class="job__item-subtitle">digital design</div>
        <div class="job__item-icon"><img src="assets/arrow-right.png" /></div>
      </div>
      <div class="job__item">
        <div class="job__item-title">Art director</div>
        <div class="job__item-subtitle">digital design</div>
        <div class="job__item-icon"><img src="assets/arrow-right.png" /></div>
      </div>
      <div class="job__item">
        <div class="job__item-title">Art director</div>
        <div class="job__item-subtitle">digital design</div>
        <div class="job__item-icon"><img src="assets/arrow-right.png" /></div>
      </div>
      <div class="job__item">
        <div class="job__item-title">Art director</div>
        <div class="job__item-subtitle">digital design</div>
        <div class="job__item-icon"><img src="assets/arrow-right.png" /></div>
      </div>
      <div class="job__item">
        <div class="job__item-title">Art director</div>
        <div class="job__item-subtitle">digital design</div>
        <div class="job__item-icon"><img src="assets/arrow-right.png" /></div>
      </div>
    </div>
    <div class="job__headhunter">
      Browse all jobs <img src="assets/browse.png" />
    </div>
  </div>
</div>
