.about__wrapper {
  min-height: 100vh;
  background-image: url(../../../../../assets/bgabout01.png);
  background-repeat: no-repeat;
  margin-top: -2px;
}
.about {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 1580px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
