<div class="traffic__wrapper">
  <div class="traffic" id="traffic">
    <div class="traffic__description">
      <div class="traffic__title">Источники Трафика</div>
      <div class="traffic__subtitle">
        Количество скачиваний наших приложений неуклонно растет, и на
        сегодняшний момент превышает 10 миллионов
      </div>
      <div class="traffic__note">
        <img src="assets/traffic-icon-star.png" />Facebook запрещен на
        территории Российской Федерации
      </div>
    </div>
    <div class="traffic__icons">
      <div class="traffic__icons-item"><img src="assets/traffic01.png" /></div>
      <div class="traffic__icons-item"><img src="assets/traffic02.png" /></div>
      <div class="traffic__icons-item"><img src="assets/traffic03.png" /></div>
      <div class="traffic__icons-item"><img src="assets/traffic04.png" /></div>
      <div class="traffic__icons-item"><img src="assets/traffic05.png" /></div>
      <div class="traffic__icons-item"><img src="assets/traffic06.png" /></div>
    </div>
    <div class="mobileonly">
      <img src="assets/traffic-icon-star.png" />Facebook is prohibited on the
      territory of the Russian Federation
    </div>
  </div>
</div>
