.traffic__wrapper {
  background-image: url(../../../../../assets/bgtraffic.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -2px;
}
.traffic {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 1660px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 135px;
  & .traffic__description {
    & .traffic__title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 800;
      font-size: 60px;
      line-height: 130.5%;
      /* identical to box height */

      /* #FFFFFF */

      color: #ffffff;
    }
    & .traffic__subtitle {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      max-width: 487px;
      /* #B2BBC2 */
      margin-top: 30px;
      color: #b2bbc2;
      padding-bottom: 510px;
    }
    & .traffic__note {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      max-width: 311px;
      color: rgba(255, 255, 255, 0.25);
    }
  }
  & .traffic__icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    align-items: center;
    align-content: flex-end;
    margin-bottom: -90px;
    & .traffic__icons-item {
      transform: scale(1);
      transition: all 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
.mobileonly {
  display: none;
}
@media screen and (max-width: 428px) {
  .mobileonly {
    display: flex;
    align-items: flex-start;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
    max-width: 311px;
    color: rgba(255, 255, 255, 0.25);
    & img {
      max-width: 15px;
    }
  }
  .traffic__note {
    display: none;
  }
  .traffic {
    padding-top: 50px !important;
  }
  .traffic__title {
    font-size: 32px !important;
    line-height: 38px !important;
  }
  .traffic__subtitle {
    padding-bottom: 100px !important;
  }
  .traffic__note {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px !important;
  }
  .traffic__icons {
    margin-bottom: 30px !important;
    justify-content: center !important;
    & .traffic__icons-item {
      width: 30%;
      & img {
        width: 100%;
      }
    }
  }
}
