<div class="burger-menu" [class.active]="active" (click)="onBurgerClicked()">
  <div class="burger-container">
    <div class="burger-inner"></div>
  </div>
  <div class="overlay">
    <div class="overlay__wrapper">
      <div class="burger__logo"><img src="assets/image/mainlogo.svg" /></div>
      <div class="burger__nav-contacts">
        <a href="tel:+79998399990" class="burger__nav-phone"
          >+ 7 (999) 839-99-99</a
        >
        <p class="burger__nav-time">Ежедневно с 10:00 до 22:00</p>
      </div>

      <ul class="burger__nav">
        <li [routerLink]="['']">en</li>
        <li [routerLink]="['ru']">en</li>
      </ul>
      <div class="burger__copyright">
        © <a href="https://madstack.ru"><span>MadStack</span> Digital Agency</a>
      </div>
    </div>
  </div>
</div>
