.job__wrapper {
  background-image: url(../../../../../assets/bgjob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -2px;
  min-height: 1080px;
}
.job {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 1620px;
  padding-top: 150px;
  & .job__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 130.5%;
    /* identical to box height */

    text-transform: capitalize;

    /* #FFFFFF */

    color: #ffffff;
    margin-bottom: 32px;
  }
  & .job__subtitle {
    /* #000D18 */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    gap: 10px;
    background: #000d18;
    border-radius: 15px;
    max-width: 310px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-transform: capitalize;

    /* #B2BBC2 */
    color: #b2bbc2;
    margin-bottom: 125px;
  }
  & .job__content {
    max-width: 1020px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    & .job__item {
      background: #002d50;
      border-radius: 15px;
      max-width: 270px;
      width: 100%;
      box-sizing: border-box;
      padding: 22px;
      & .job__item-title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        text-transform: capitalize;
        /* #229EFF */
        color: #229eff;
      }
      & .job__item-subtitle {
        padding-top: 0px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.7);
      }
      & .job__item-icon {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
    & .job__headhunter a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: #229eff;
      text-shadow: 0px 0px 15px #229eff;
      /* identical to box height */

      text-transform: capitalize;

      /* #229EFF */

      color: #229eff;
    }
  }
  & .job__headhunter {
    & a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: #229eff;
      text-shadow: 0px 0px 15px #229eff;
      /* identical to box height */

      text-transform: capitalize;

      /* #229EFF */

      color: #229eff;
      display: flex;
      align-items: center;
      padding-top: 100px;
      justify-content: flex-end;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 428px) {
  .job__wrapper {
    min-height: auto !important;
  }
  .job__title {
    text-align: center !important;
    font-size: 32px !important;
    line-height: 38px !important;
  }
  .job__subtitle {
    margin-bottom: 60px !important;
  }
  .job__content {
    justify-content: center !important;
  }
  .job {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .job__item {
    max-width: 170px !important;
    padding: 12px !important;
  }
  .job__item-title {
    font-size: 16px !important;
  }
}
