<div class="map__wrapper">
  <div class="map">
    <div class="map__title desctop__only">
      We provide stable jobs in several countries, helping clients more than
      even before
    </div>
    <div class="map__subtitle">
      <p class="desctop__only">
        These are some countries where our team is based in: India, Denmark,
        Uzbekistan, and Dubai.
      </p>
      Montekrist media is a major international employer.
    </div>
  </div>
  <div class="map__image">
    <img class="map__image" src="assets/glob.png" />
  </div>
</div>
