<div class="traffic__wrapper">
  <div class="traffic">
    <div class="traffic__description">
      <div class="traffic__title">Traffic Sources</div>
      <div class="traffic__subtitle">
        With over 10 million downloads, our apps usage growing at a steady rate.
        Traffic campaigns are run on:
      </div>
      <div class="traffic__note">
        <img src="assets/traffic-icon-star.png" />Facebook is prohibited on the
        territory of the Russian Federation
      </div>
    </div>
    <div class="traffic__icons">
      <div class="traffic__icons-item"><img src="assets/traffic01.png" /></div>
      <div class="traffic__icons-item"><img src="assets/traffic02.png" /></div>
      <div class="traffic__icons-item"><img src="assets/traffic03.png" /></div>
      <div class="traffic__icons-item"><img src="assets/traffic04.png" /></div>
      <div class="traffic__icons-item"><img src="assets/traffic05.png" /></div>
      <div class="traffic__icons-item"><img src="assets/traffic06.png" /></div>
    </div>
  </div>
</div>
