.map__wrapper {
  background-image: url(../../../../../assets/bgmap.png);
  background-repeat: no-repeat;
  margin-top: -2px;
  background-size: cover;
  min-height: 1080px;
}
.map {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 1620px;
  & .map__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 130.5%;
    /* or 84px */
    padding-top: 150px;
    /* #FFFFFF */

    color: #ffffff;
  }
  & .map__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    /* #B2BBC2 */

    color: #b2bbc2;
  }
}
@media screen and (max-width: 428px) {
  .map__title {
    font-size: 32px !important;
    line-height: 38px !important;
    margin-bottom: 20px;
  }
  .map__wrapper {
    background-position: 34%;
  }
  .map {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}
