<div class="map__wrapper">
  <div class="map">
    <div class="map__title">
      Мы предоставляем стабильную и перспективную работу в более чем 10 странах
      мира
    </div>
    <!-- <div class="map__subtitle">
      <p class="desctop__only">
        Наша команда базируется в Индии, Дании, Узбекистане, Дубае и других
        странах.
      </p>
      Monterkist media является крупным международным работодателем.
    </div> -->
  </div>
  <div class="map__image">
    <img class="map__image" src="assets/glob.png" />
  </div>
</div>
