<div class="hero__wrapper">
  <div class="hero">
    <div class="hero__description">
      <div class="hero__tags">
        <div class="hero__tags-item">#Developers</div>
        <div class="hero__tags-item">#Investors</div>
        <div class="hero__tags-item">#Media buying</div>
      </div>
      <div class="hero__title">IT agency, 🤙🏼 Good People</div>
      <div class="hero__subtitle">
        Let's Go <img class="hero__subtitle-img" src="assets/heroicon.svg" />
      </div>
    </div>
    <div class="hero__image-section">
      <div class="hero__image-up"></div>
      <div class="hero__image-down"></div>
      <div class="hero__image-up-2"></div>
      <div class="hero__image-down-2"></div>
    </div>
  </div>
</div>
