<div class="contacts__wrapper">
  <div class="contacts" id="contacts">
    <div class="contacts__title">Contact Us</div>
    <div class="contacts__links">
      <div class="contacts__links-item">
        <a href="https://t.me/HR_Montekrist ">
          <img src="assets/mail.png" />@HR_Montekrist</a
        >
      </div>
      <!-- <div class="contacts__links-item">
        <img src="assets/twitter.png" />montekristmedia
      </div>
      <div class="contacts__links-item">
        <img src="assets/instagram.png" />montekristmedia
      </div>
      <div class="contacts__links-item">
        <img src="assets/discord.png" />montekristmedia
      </div> -->
    </div>
  </div>
  <div class="terms">
    <div class="terms-item">Terms and conditions</div>
    <div class="copyright">Copyright@ 2022 montekrist Media</div>
    <div class="fb">
      Facebook is prohibited on the territory of the Russian Federation
    </div>
  </div>
</div>
