<div class="contacts__wrapper">
  <div class="contacts" id="contacts">
    <div class="contacts__title">Contact Us</div>
    <div class="contacts__links">
      <div class="contacts__links-item">
        <img src="assets/contacts01.png" />olga_naumova@montekrist.media
      </div>
      <div class="contacts__links-item">
        <img src="assets/contacts02.png" />montekristmedia
      </div>
      <div class="contacts__links-item">
        <img src="assets/contacts03.png" />montekristmedia
      </div>
      <div class="contacts__links-item">
        <img src="assets/contacts04.png" />montekristmedia
      </div>
    </div>
  </div>
  <div class="terms">
    <div class="terms-item">Terms and conditions</div>
    <div class="copyright">Copyright@ 2022 montekrist Media</div>
    <div class="fb">
      Facebook is prohibited on the territory of the Russian Federation
    </div>
  </div>
</div>
